#home-div {
  width: 800px;
  height: 400px;
  margin-left: 430px;
  margin-top: 120px;
  background-color: #88b5cc;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 1px 2px rgb(126, 134, 134);
  margin-bottom: 30px;
}
#heading {
  margin-top: 10px;
  color: black;
}
#get-started {
  padding: auto;
  margin: auto;
  margin-right: 280px;
  align-self: left;
  display: flex;
  align-items: center;
}

span {
  margin-right: 10px;
}
#template-image {
  width: 240px;
  border-radius: 120px;
}
#sub-div {
  margin-left: 500px;
  margin-right: 200px;
}
h4,
h3,
h5 {
  align-self: center;
  margin-left: 50px;
  margin-right: 100px;
}
#procedure {
  margin-left: 480px;
  background-color: rgba(86, 104, 103, 0.337);
  margin-bottom:50px;
  width:700px;
}

k {
  color: rgba(251, 255, 255, 0.375);
}
#inner-list{
  margin-left:20px;
}
#chart-div{
  margin-left: 400px;
  padding:20px;
}
